#login
  - if @current_user
    /%p{:class=>"navbar-brand"} user: #{@current_user.name}
    = button_to "Logout: #{@current_user.name}", logout_path, :class=>"btn btn-success navbar-btn", :type=>"submit", :style=>"float: right"
  - else
    = button_to 'Log in with Twitter', '/auth/twitter', :class=>"btn btn-success navbar-btn", :type=>"submit", :id=>'login_button', :style=>"float: right"
