%div{:id=>'welcome'}
	%h1 Welcome to LifeSearch
	%p 
		LifeSearch is trying to help us become what we truely want to be by helping layout a map for a new life, showing where we are in our journey, and understanding how we can improve our performance. 
	%p{style:"text-align:center;"}
		%a{class:"btn btn-success btn-lg", role:"button", href:"/login_as_anonymous"} Try now as anonymous

